@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    margin: 0 auto;
}
.main{
    height: 600px;
    background: url("images/backgroud.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.section1{
    display: flex;
}
.navbar{
    display: flex;
    width: 85%;
    height: 14%;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0 auto;
    margin-top: 16px;
    padding-left: 0px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    width: 85%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
}
a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    transition: .5s linear;
}
a:active{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
i {
    margin-right: 10px;
}
nav{
    display: flex;

    margin: 0 auto 30px;
}
.nav a {
    color: #05435E;
    margin-right: 41px;
}
.nav .glav{
    padding-left: 140px;
    color: red;
}
.phone{
    font-weight: 500;
    display: flex;
    align-items: center;
}
.phone_img{
    margin-right: 5px;
}
.nav li {
    display: flex;
    align-content: center;
}
.logo{
    position: absolute;
}
.podpis{
    margin-left: 115px;
    margin-right: 41px;
    font-weight: bold;
}
.navGallery{
    margin-left: 115px;
}
about{
    padding-right: 70px;
}
.text{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    left: 260px;
    top: 231px;
}
.post1{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #05435E;
    width: 100%;
}
.post2{
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #05435E;
    margin-top: 50px;
    margin-bottom: 15px;
}
.menu{
    display: flex;
    background: #FF6B6B;
    color: white;
    border-radius: 50px;
    border-width: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    width: 216px;
    height: 53px;
}
.animals{
    left: 58%;
    position: absolute;
    top: 18%;
}
h2{
    position: absolute;
    left: 80px;
    color: #05435E;
}
.section1{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-left: 6%;
}
.section1 div{
    background: white;
    border-radius: 50px;
    left: 50px;
    box-shadow: 0 5px 5px rgba(0, 107, 153, 0.2);
    padding: 0 50px 35px 50px;
    width: 15%;
}
.section1 p{
    font-size: 14px;
    color: #05435E;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
button:hover{
    background: #008FCC;
}
button{
    display: flex;
    background: #FF6B6B;
    border-radius: 50px;
    border-width: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px 40px;
    align-items: center;
    font-weight: bold;
}
.section2{
    margin-top: 40%;
    height: 350px;
    display: flex;
}
.section2 h2{
    margin-top: -5%;
}
.photo1{
    width: 592px;
    height: 272px;
    margin-left: 80px;
}
.bio{
    position: absolute;
    width: 530px;
    height: 120px;
    left: 55%;
}
.bioTitle{
    font-family: 'Roboto', sans-serif;
    color: #008FCC;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.bioText{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #008FCC;
    line-height: 20px;
}
.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 600px;
}
.gallery{
    max-height: 50%;
    margin-top: 80px;
}
.arrows{
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 400px;
    right: 47%;
    position: absolute;
    flex-direction: row;
}
.arrowLeft{
    position: relative;
    width: 32px;
    height: 32px;
    border: 3px solid #008FCC;
    border-radius: 50%;
    background: #008FCC;
    margin-right: 10px;
}
.arrowLeft:hover{
    position: relative;
    width: 32px;
    height: 32px;
    border: 3px solid #008FCC;
    border-radius: 50%;
    background: white;
}
.arrowLeft:after {
    position: absolute;
    top: 8px;
    left: 9px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: matrix(1, 1, -1, 1, 4, 3);
}
.arrowLeft:hover:after{
    position: absolute;
    top: 8px;
    left: 9px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 3px solid #008FCC;
    border-bottom: 3px solid #008FCC;
    transform: matrix(1, 1, -1, 1, 4, 3);
}
.arrowRight{
    position: relative;
    width: 32px;
    height: 32px;
    border: 3px solid #008FCC;
    border-radius: 50%;
    background: #008FCC;
}
.arrowRight:hover{
    position: relative;
    width: 32px;
    height: 32px;
    border: 3px solid #008FCC;
    border-radius: 50%;
    background: white;
}
.arrowRight:after {
    position: absolute;
    top: 9px;
    left: 8px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(225deg);
}
.arrowRight:hover:after{
    position: absolute;
    top: 9px;
    left: 8px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 4px solid #008FCC;
    border-bottom: 4px solid #008FCC;
    transform: rotate(225deg);
}
.gps{
    margin-top: 80px;
    margin-left: 70px;
    margin-bottom: 80px;
}
.section4{
    display: flex;
}
.faq{
    margin-top: 210px;
    margin-left: 50px;
}
.section4_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #05435E;
}
.section4_phone{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #008FCC;
    margin-bottom: 3%;
}
.section4_email{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #008FCC;
}
.section4_phone img{
    margin-right: 5px;
}
.section4_email  img{
    margin-right: 5px;
}
.footer{
    background: url("images/footerBackground.png");
}
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.footerLogo{
    margin-top: 40px;
}
.footerNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footerPhone{
    font-weight: 500;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: white;
}
.footerPhone img{
    margin-right: 5px;
}
.footerNav{
    color: white;
    font-weight: normal;
    line-height: 21px;
    align-items: center;
    margin: 48px;
}
footer p{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
